<html>
    </head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>A személyes adatokat a weboldalon történő vásárlási élmény fenntartásához, a fiókhoz való hozzáférés kezeléséhez és más célokra használjuk, melyeket a Adatkezelési tájékoztató tartalmaz.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Az önismeret hasznos.</p>
        </div>

        <div>
            <p>published: 19.11.2021, 03:02</p>
            <h2><a href="">My third post</a></h3>
            <p>Változtasd meg a templatedet!</p>
        </div>
    </body>
</html>
